@charset "utf-8";

//https://github.com/jenil/bulmaswatch/blob/gh-pages/litera/bulmaswatch.scss
@import "variables";
@import "~bulma/bulma";
@import "overrides";

@import "addons";


body, html { overflow-x:hidden; }

.card2 {
  overflow: hidden;
  position: relative;
  .card-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .media {
      text-shadow: 0 0 1rem #000;
    }

    .content {
    }
  }

  figure.image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &:hover {
    figure.image{
      transition: transform .25s ease-out;
      transform-origin: center;
      transform: scale(1.1);
    }
  }
}
.card {
  .content {
    @extend .has-text-grey-light;
    @extend .is-size-6;
    font-family: $family-sans-serif;
  }

  .card-image {
    overflow: hidden;
  }
  &:hover {
    figure.image{
      transition: transform .25s ease-out;
      transform-origin: center;
      transform: scale(1.1);
    }
  }
}


.has-background-image-cover {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}



//swiper
//swiper-banner
.swiper-container-banner {
  width: 100%;
  height: 100%;

  min-height: 400px;
  height: 400px;
  position: relative;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  background: url(https://bulma.io/images/placeholders/1280x960.png);

  figure.image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
  }
}

//swiper-feed
.swiper-container-feed {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;

  position: relative;
  overflow: hidden;
}



.navbar-item img {
  max-height: 2.75rem;
}

.menu {
  border-right: 1px solid $border;
}

.box2 {
  border-bottom: 1px solid #e6e6e6;
  color: #373a3c;
  display: block;
  @extend .p-b-md, .p-t-md;

  .title {
    @extend .is-size-5, .m-b-sm, .has-text-grey;

    //https://stackoverflow.com/a/11842865/875788
    padding-top: 130px;
    margin-top: -130px;
  }
}

.tabs {
  &.is-fixed {
    position: fixed;
    top: 76px;
    z-index: 1;
    background: white;
    overflow-x: auto;
    width: 100%;
    left: 0;
    right: 0;
  }
}
.tabs-placeholder {
  margin-bottom: 1.5rem;
  height: 38px;
  display: none;

  &.is-visible {
    display: block;
    visibility: hidden;
  }
}

//https://gist.github.com/jaicab/8799764
//video-container
.video-container {
  position: relative;
  padding-bottom: 56.25%; /*16:9*/
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


@media screen and (max-width: 1087px) {
  .navbar-menu.is-active {
    display: flex;
    flex-direction: column-reverse;
  }

  main, footer {
    padding: 1rem;
  }

}


.experiments-menu-filter-aside.is-active {
  position: fixed;
  display: block !important;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background: white;
  overflow-y: auto;
}


a.menu-label {
  width: 100%;
  display: block;
  padding: .4rem 0;
}
ul.menu-list {
  display: none;

  &.is-active {
    display: block;
  }
}
